<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="O365VideoSync.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="O365VideoSync.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <O365VideoSync.Properties.Settings>
            <setting name="OnPremSharepointUrl" serializeAs="String">
                <value>http://myservername/IT/Applications/SharePoint</value>
            </setting>
            <setting name="OnPremListName" serializeAs="String">
                <value>WebexVideos</value>
            </setting>
            <setting name="O365UserName" serializeAs="String">
                <value>some.user@mydomain.com</value>
            </setting>
            <setting name="O365Password" serializeAs="String">
                <value>password</value>
            </setting>
            <setting name="O365SharepointUrl" serializeAs="String">
                <value>https://someone.sharepoint.com</value>
            </setting>
            <setting name="O365VideoChanleName" serializeAs="String">
                <value>SharePointSupportTeam</value>
            </setting>
            <setting name="OnPremUserName" serializeAs="String">
                <value>domain\user</value>
            </setting>
            <setting name="OnPremPassword" serializeAs="String">
                <value>pw</value>
            </setting>
            <setting name="ThumbnailHeight" serializeAs="String">
                <value>175</value>
            </setting>
            <setting name="ThumbnailWidth" serializeAs="String">
                <value>310</value>
            </setting>
            <setting name="ListTitle" serializeAs="String">
                <value>O365VideosNEW </value>
            </setting>
            <setting name="ListDescription" serializeAs="String">
                <value>Videos Downloaded from WebEx</value>
            </setting>
            <setting name="OnQuickLaunch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ThumbnailHyperlinkFormat" serializeAs="String">
                <value>&lt;a href='{0}' target='_blank'&gt;&lt;img src='{1}&amp;width={2}&amp;height={3}' alt='{4}'&lt;/img&gt;&lt;/a&gt;</value>
            </setting>
        </O365VideoSync.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <O365VideoSync.Properties.Settings>
            <setting name="ADGroup" serializeAs="String">
                <value />
            </setting>
        </O365VideoSync.Properties.Settings>
    </userSettings>
</configuration>